numpy
langchain
unstructured[pdf]
PyMuPDF
PyPDF2
langchain_community
python-dotenv
openai
opencv-python
chromadb
tiktoken
langchain_chroma
pysftp
pymongo
langchain_mongodb
pypdf
langchain-openai
pypandoc
docx2pdf 
langchain-community
unstructured
openpyxl
pandas
xlrd